%div{class: 'jumbotron'}
  %h1 Hallo Clashers

  %p Ich möchte mal ein Experiment wagen. Dazu brauche ich so viele Stimmen wie möglich. Also sag mir erst einmal wie Du im Spiel heisst.

= form_for @user, url: { action: "set_user"},
  html: { class: 'form-horizontal', role: 'form' } do |f|
  .form-group
    = f.label :id, { class: 'control-label' } do
      Name im Spiel:
    = f.select(:id, { class: "form-control" }) do
      - array = User.order(:name).all.map { |user| [user.name, user.id] }
      = options_for_select(array)
  %p.help-block Damit wir wissen, wer aus dem Clan du bist
  = f.submit "Submit", class: "btn btn-default"

