<p id="notice"><%= notice %></p>

<p>Titel des Krieges: <%= @war.title %>
</p>

<h3>Teilnehmer:</h3>

<ol>
<% @war.warriors.order(:order).each do |w| %>
<li><%= w.user.name %></li>
<% end %>
</ol>

<%= link_to 'Edit', edit_war_path(@war) %> |
<%= link_to 'Back', wars_path %>
